blinker  
certifi  
charset-normalizer  
click  
decorator  
Flask  
idna  
imageio  
imageio-ffmpeg  
itsdangerous  
Jinja2  
MarkupSafe  
moviepy  
numpy  
Pillow  
proglog  
pygame  
requests  
tqdm  
urllib3  
Werkzeug
