
<h1>
<a href="/"> Merge For Shorts </a>
</h1>

- The format of the video is any movie or tv series clip at the top and random videogame or life hacks videos at the bottom.
<br>
- The application allows users to upload an video file which sits at the top and video game at the bottom which is in the uploads folder - quake_short.mp4 , where two of them are combined to form a single video file which is <= 1 minute. 
<br>
- If the video uploaded by the user is greater than a minute it will be reduced to a minute. The progress can be seen on the terminal.