{% extends 'wrapper.html' %}
{% block title %}Merge For Shorts{% endblock %}
{% block content %}
<style>
    .tinytext {
        font-size: 14px;
        font-family: monospace;
        color: gray
    }
</style>

<a href="/" class="m-2"> << Home</a>

<div class="card card-body col-md-4 m-auto mt-5 border-0">


    <h3>Crop video to Shorts format</h3>
    <form action="/croptoshorts" method="POST" enctype="multipart/form-data">
        <div class="mb-2">
            <!-- error message -->
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <!-- success message -->
            {% if success %}
            <div class="alert alert-success" id="success-msg">
                {{ success }}
                <span aria-hidden="true" style="margin-left: 109px;cursor: pointer;" onclick="hideText()">&times;</span>
            </div>

            <script src="{{url_for('static', filename='main.js')}}"></script>

            {% endif %}
        </div>
        <div class="mb-2">
            <label for="">&#x1F447;Upload Your Video </label>
            <input id="file-input" class="form-control" name="file" type="file" accept="video/mp4">
        </div>
        <button class="btn bnt-primary btn-sm btn-primary" style="width: fit-content;">
            Short it!
        </button>
    </form>
</div>


{% if success %}
        <div class="card card-body col-md-4 m-auto mt-4">
            <video controls>
                <source src="{{ url_for('static', filename=video) }}" type="video/mp4">
            </video>
        </div>
{% endif %}

{%endblock%}