

<div align="center">

    <h1>Create Vertical Video</h1>
        <p>This app will create a Vertical Video for tik-tok and Youtube Shorts.</p> 
    <div style="margin-top: 10px;">
        Two Videos will be merged together to make this video.
    </div>
</div>
 
<hr>

<div  style=" margin-top:100px; padding:10px;" align="center">

    
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="video-1">
        <input type="submit" value="Upload">
    </form> 
</div>

