{% extends 'wrapper.html' %}

{% block title %}Home{% endblock %}



{% block content %}

<div align="center">
    <h1>Merge For Shorts</h1>
</div>
 
<hr>

<div   class="card card-body col-md-4 m-auto" >

    
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
        <div class="mb-2">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}


             <div class="image-upload">
              
                <input id="file-input" name="file" type="file" accept="video/mp4" > 
                
              </div>
    
        </div>  
            
        <div class="d-grid gap-2">

            <button type="submit" class="btn  btn-primary">
                Create 
            </button>
        </div>
    
    </form> 
</div>

{% endblock %}