{% extends 'wrapper.html' %}
{% block title %}Merge For Shorts{% endblock %}
{% block content %}
<style>
    .con {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .middleDiv {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 50%;
        top: 30%;
        margin-left: -100px;
        /* half of the width  */
        margin-top: -100px;
        /* half of the height */
    }

    .centerFlex {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
</style>



<div class="mt-5">

    <div class="mb-2 w-25 m-auto">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success" id="success-msg">
            {{ success }}
            <span aria-hidden="true" style="margin-left: 109px;cursor: pointer;" onclick="hideText()">&times;</span>
        </div>

        <script>
            function hideText() {
                var myDiv = document.getElementById('success-msg');
                myDiv.style.display = 'none';
            }
        </script>

        {% endif %}
    </div>

    <h3 class="text-center">Short-n-Merge</h3>
    <div class="centerFlex">
        <a href="/shorts" class="btn btn-sm btn-primary" style="width: fit-content;">Crop to Shorts</a>
        <a href="/merge" class="btn btn-sm btn-primary" style="width: fit-content;">Merge videos for
            Shorts</a>
    </div>
</div>
{% endblock %}